.login {
	font-family: "Lato";
	border: 3px solid #2c3e50;
	border-radius: 15px;
	padding: 20px;
	width: 40%;
	margin: auto;
	/*text-align: center;*/
}

	.login h2, .login h3 {
		text-align: center;
		font-weight: bolder; 
	}

	.login p {
		font-size: 18px;
		font-family: "Lato";
		text-align: justify;
		padding: 0 15px 0 15px;
	}

	.author-name {
		font-size: 22px;
		font-weight: bold;
		font-family: "Lato";
		margin-top: 10px;
	}

	.login hr {
		margin-bottom: 20px;
	}

	.login label[for=name], .login label[for=email], .login label[for=password], .login label[for=password-confirm] {
		font-weight: bold;
	}

	.login button[type=submit] {
		background-color: #2c3e50;
		color: white; 
		border: 3px solid #2c3e50;
		padding: 5px;
		width: 35%;
		margin: auto;
	}

	.login .field {
		padding: 5px;
	}

	.login .verify-credentials {
		text-align: center;
		font-family: serif;
	}


.alert {
	padding: .75rem 1.25rem;
   	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}


.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}