@charset "UTF-8";
.navbar__item__substeps, .add-drop {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.context_table_style {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  table-layout: auto; }

.addrule-table {
  display: inline-block;
  width: 100%;
  overflow: auto;
  overflow-y: hidden; }

.table-row {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px; }

tbody {
  display: inline-block; }

.text {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  white-space: wrap;
  text-overflow: ellipsis; }

.text {
  width: 180px; }

.edit-rule-field {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 100px; }

select.text {
  width: 100%; }

.text_error {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  white-space: wrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 180px;
  background: #fef65b; }

.text_uca {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 180px; }

td.number-contexttale {
  max-width: 80px !important; }

td {
  width: 180px; }

th {
  width: 180px; }

/*
 * General good-look styles, not mandatory.
 */
body {
  font-size: 20px; }

.table-row-without-border {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-collapse: collapse; }

.table-row.header {
  background-color: #ecf0f1;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center; }

.table-row.header-blue {
  background-color: #2c3e50;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  border-radius: 10px;
  width: 100%; }

.container-fluid {
  margin-top: 10px; }

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }

button.accordion.active, button.accordion:hover {
  background-color: #ddd; }

button.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px; }

button.accordion.active:after {
  content: "\2796"; }

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0; }

div.panel.show {
  opacity: 1;
  max-height: 100%; }

.option_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.option_text:not(:checked):hover {
  overflow: visible;
  white-space: normal;
  font-weight: bold;
  background-color: #ADD8E6; }

.option_text:checked {
  border-bottom: dashed 1px black;
  overflow: visible;
  white-space: normal;
  font-weight: bold;
  background: linear-gradient(#ADD8E6, #ADD8E6);
  background-color: #ADD8E6 !important;
  color: black;
  -webkit-text-fill-color: black; }

.select_from_form_rule {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 150px; }

.responsive_textarea {
  background: white;
  border: 0;
  min-width: 80%;
  width: 80%;
  font-size: 1rem;
  color: black;
  resize: none;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  font-family: helvetica; }
  .responsive_textarea_active {
    width: 80%;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-size: 1rem;
    padding: 0;
    font-family: helvetica; }

label {
  font-weight: bold;
  vertical-align: top; }

.select_from_form_ssc {
  width: 68%;
  overflow: auto;
  max-height: 75px; }

.hidden {
  visibility: hidden; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica; }

* {
  box-sizing: border-box; }

*, *:focus {
  outline: 0; }

.ajaxform {
  float: left; }

.center {
  text-align: center;
  vertical-align: middle; }

#control-actions-select {
  -webkit-appearance: none;
  /* Remove estilo padrão do Chrome */
  -moz-appearance: none;
  /* Remove estilo padrão do FireFox */
  appearance: none;
  /* Remove estilo padrão do FireFox*/
  background: url("../images/select-arrow.gif") no-repeat;
  /* Imagem de fundo (Seta) */
  background-position: 100% center;
  /*Posição da imagem do background*/
  height: 30px;
  /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
  border: 1px solid #ddd;
  width: 100%; }

#controller-select {
  -webkit-appearance: none;
  /* Remove estilo padrão do Chrome */
  -moz-appearance: none;
  /* Remove estilo padrão do FireFox */
  appearance: none;
  /* Remove estilo padrão do FireFox*/
  background: url("../images/select-arrow.gif") no-repeat;
  /* Imagem de fundo (Seta) */
  background-position: 100% center;
  /*Posição da imagem do background*/
  height: 30px;
  /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
  border: 1px solid #ddd;
  width: 100%; }

.garamond {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; }

.navbar {
  z-index: 1000;
  position: relative;
  height: 60px;
  border-top: 3px solid #2c3e50;
  background-color: #ecf0f1;
  padding: 0 30px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .navbar:after {
    content: "";
    display: table;
    clear: both; }
  .navbar__item {
    height: 100%;
    display: inline-block;
    float: left;
    font-weight: bold;
    color: #2c3e50;
    position: relative; }
    .navbar__item:hover .navbar__item__substeps {
      display: block; }
    .navbar__item:hover .navbar__item__content {
      background-color: rgba(0, 0, 0, 0.1); }
    .navbar__item--right {
      margin: 0;
      float: right; }
    .navbar__item__link {
      display: block;
      height: 100%;
      width: 100%;
      color: #2c3e50;
      text-decoration: none; }
    .navbar__item__content {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      text-align: center; }
      .navbar__item__content .navbar__item__link {
        padding-top: 19px; }
    .navbar__item__substeps {
      position: absolute;
      top: 57px;
      left: 0;
      right: 0;
      display: none;
      background-color: #ecf0f1;
      border-radius: 0 0 3px 3px; }
    .navbar__item__substep {
      height: 100%;
      padding: 7px 5px 10px; }
      .navbar__item__substep:hover {
        background-color: rgba(0, 0, 0, 0.1); }
  .navbar__logo {
    max-height: 100%; }

.content {
  margin: 30px; }

.dialogs {
  display: none; }

.step2_textarea {
  /*overflow: hidden;*/
  resize: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
  width: 100%; }
  .step2_textarea__modal {
    resize: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    background-color: #f0f0f0;
    height: 100px; }
  .step2_textarea:disabled {
    resize: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    background-color: white;
    height: 80px; }

.uca_list_textarea {
  /*overflow: hidden;*/
  resize: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
  width: 100%; }
  .uca_list_textarea__modal {
    resize: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    background-color: #f0f0f0;
    height: 100px; }
  .uca_list_textarea:disabled {
    resize: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    background-color: white; }

.uca_association {
  background-color: #2a3f50;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 0; }

.ssc_hazard_association {
  background-color: #2a3f50;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 0; }

.hazard_loss_association {
  margin: 50px 0;
  background-color: #2a3f50;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 0; }

.guideword-combo {
  -webkit-appearance: none;
  box-shadow: none;
  border: 0; }

.guideword-combo-tuple {
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
  background-color: #f0f0f0;
  max-width: 100%; }

.guideword-option {
  background: black;
  color: white; }

.steptwo-button {
  vertical-align: bottom; }

.font-button {
  font-family: Georgia; }

.steptwo-include {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.image {
  max-width: 50%;
  max-height: 50%; }

.number-contexttable {
  width: 2%;
  font-style: italic; }

.content-uca {
  width: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.legend-contexttable {
  display: none; }

.context_table_filter {
  display: none; }

.legend-select {
  width: 20%; }

.legend-select-error {
  width: 20%;
  background: #fef65b; }

.legend-content {
  margin-left: 1%; }

.legend-button {
  background-color: #2c3e50;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border-color: #2c3e50;
  outline: none; }

.context_table_filter-button {
  background-color: #2c3e50;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border-color: #2c3e50;
  outline: none; }

.warning-message {
  display: none;
  margin: 10px;
  background: #fef65b; }

input.information-input {
  border: none;
  border-radius: 5px;
  border: solid 1px;
  width: 100%;
  height: 25px;
  padding-left: 10px;
  font-size: 16px;
  margin: 1% 0 2% 0; }

textarea.information-input {
  border: none;
  border-radius: 5px;
  border: solid 1px;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  font-size: 16px;
  margin: 1% 0 2% 0;
  max-width: 100%;
  resize: vertical; }

select.information-input {
  border: none;
  border-radius: 5px;
  border: solid 1px;
  width: 100%;
  height: 25px;
  padding-left: 10px;
  font-size: 16px;
  margin: 1% 0 2% 0; }

.bold {
  font-weight: bold; }

.center-button {
  display: table;
  margin: 0 auto; }

input.edit-button {
  background: buttonface url("../images/edit.ico") no-repeat top left;
  background-size: 20px 20px;
  padding-left: 22px;
  height: 25px;
  border-radius: 5px; }

input.delete-button {
  background: buttonface url("../images/trash.png") no-repeat top left;
  background-size: 20px 20px;
  padding-left: 22px;
  height: 25px;
  border-radius: 5px;
  padding-right: 5px; }

input.add-button {
  background: buttonface url("../images/plus.png") no-repeat top left;
  background-size: 20px 20px;
  padding-left: 22px;
  height: 25px;
  border-radius: 5px; }

textarea.mission-assurance {
  width: 100%;
  height: 100px !important; }

.delete_step1_association {
  cursor: pointer; }

.login {
  font-family: "Lato";
  border: 3px solid #2c3e50;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  margin: auto;
  /*text-align: center;*/ }

.login h2, .login h3 {
  text-align: center;
  font-weight: bolder; }

.login p {
  font-size: 18px;
  font-family: "Lato";
  text-align: justify;
  padding: 0 15px 0 15px; }

.author-name {
  font-size: 22px;
  font-weight: bold;
  font-family: "Lato";
  margin-top: 10px; }

.login hr {
  margin-bottom: 20px; }

.login label[for=name], .login label[for=email], .login label[for=password], .login label[for=password-confirm] {
  font-weight: bold; }

.login button[type=submit] {
  background-color: #2c3e50;
  color: white;
  border: 3px solid #2c3e50;
  padding: 5px;
  width: 35%;
  margin: auto; }

.login .field {
  padding: 5px; }

.login .verify-credentials {
  text-align: center;
  font-family: serif; }

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d; }

.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.substep {
  border-radius: 8px;
  border: 2px solid #2c3e50;
  margin-bottom: 30px; }
  .substep:after {
    content: "";
    display: table;
    clear: both; }
  .substep:last-child {
    margin-bottom: 0; }
    .substep:last-child .substep__content {
      border: none; }
  .substep__title, .substep__add {
    display: inline-block;
    font-size: 1.1rem;
    float: left;
    border-radius: 0 0 8px 0;
    padding: 5px 10px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .substep__title {
    z-index: 200;
    color: #fff;
    background-color: #2c3e50; }
  .substep__add {
    box-sizing: content-box;
    z-index: 100;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding-left: 19px;
    margin-left: -10px;
    cursor: pointer; }
    .substep__add:hover {
      background-color: #cfd9db; }
  .substep__content {
    width: 100%;
    float: left;
    padding: 20px; }
  .substep__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .substep__itens {
    margin: 0;
    padding: 0;
    list-style-type: none; }

.step1_itens {
  padding: 5px; }
  .step1_itens:after {
    content: "";
    display: table;
    clear: both; }

.item {
  border-bottom: 1px solid #ecf0f1;
  padding: 5px; }
  .item:after {
    content: "";
    display: table;
    clear: both; }
  .item:first-child {
    padding-top: 0; }
  .item:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  .item__list {
    white-space: nowrap;
    width: 100%; }
  .item__title, .item__actions {
    display: inline-block;
    white-space: nowrap; }
  .item__title {
    float: left;
    font-size: 1rem; }
  .item__title__textarea {
    float: left;
    font-size: 1rem;
    width: 85%; }
  .item__input {
    background: white;
    border: 0;
    font-size: 1rem;
    color: black; }
  .item__textarea {
    background: white;
    border: 0;
    font-size: 1rem;
    color: black; }
  .item__input__uca {
    background-color: #f0f0f0;
    width: 100%;
    border: 0;
    font-size: 1rem;
    color: black; }
  .item__input__active {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem; }
  .item__textarea__active {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .item__delete__box {
    color: white;
    text-decoration: none; }
  .item__actions {
    float: right;
    font-size: 0; }
    .item__actions__action {
      display: inline-block;
      margin-left: 5px;
      font-size: 0.9rem;
      border-radius: 3px;
      padding: 2px 5px;
      color: #fff;
      background-color: #2c3e50;
      /*cursor: pointer;*/ }
    .item__actions__add {
      display: inline-block;
      margin-left: 5px;
      font-size: 0.9rem;
      border-radius: 3px;
      padding: 2px 5px;
      color: #fff;
      cursor: pointer; }
  .item__no__display {
    display: none; }

.states-associated {
  width: 100%; }

.drop-element {
  opacity: 0;
  z-index: 1000; }
  .drop-element.drop-open-transitionend {
    display: block; }
  .drop-element.drop-after-open {
    transition: opacity 1s;
    opacity: 1; }
  .drop-element.drop-out-of-bounds-bottom .drop-content:after {
    top: unset;
    right: 100%;
    bottom: 5px;
    border: solid transparent;
    border-right-color: #080b0e;
    border-width: 5px 5px 0 5px;
    margin-top: 0;
    margin-bottom: -5px; }
  .drop-element.drop-out-of-bounds-bottom .add-drop__content {
    border-radius: 4px 4px 0 0; }
  .drop-element.drop-out-of-bounds-bottom .add-drop__buttons {
    border-radius: 0 0 4px; }
  .drop-element .drop-content {
    position: relative;
    left: 10px;
    color: #fff; }
    .drop-element .drop-content:after {
      content: " ";
      position: absolute;
      right: 100%;
      top: 5px;
      border: solid transparent;
      border-width: 0 5px 5px;
      border-right-color: #2c3e50;
      height: 0;
      width: 0;
      pointer-events: none;
      margin-top: -5px; }

.add-drop__content, .add-drop__buttons {
  width: 500px;
  padding: 7px; }
  .add-drop__content:after, .add-drop__buttons:after {
    content: "";
    display: table;
    clear: both; }

.add-drop__content {
  background-color: #2c3e50;
  border-radius: 0 4px 0 0; }

.add-drop__buttons {
  font-size: 0;
  text-align: right;
  background-color: #080b0e;
  border-radius: 0 0 4px 4px; }

.add-drop__input, .add-drop__action {
  border-radius: 2px; }

.add-drop__label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 7px; }
  .add-drop__label:first-child {
    margin-top: 0; }

.add-drop__input {
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid #ecf0f1;
  margin: 3px 3px 0 0; }

.add-drop__textarea {
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid #ecf0f1;
  margin: 3px 3px 0 0; }

.add-drop__action {
  font-size: 0.7rem;
  font-weight: bold;
  color: #080b0e;
  background-color: #ecf0f1;
  border: none;
  padding: 2px;
  margin-left: 7px; }

@keyframes vex-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes vex-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

.vex, .vex *, .vex *:before, .vex *:after {
  box-sizing: border-box; }

.vex {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vex-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.vex-overlay {
  pointer-events: none;
  /*display: none;*/
  right: 16px;
  background: #000;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.vex-overlay {
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vex.vex-closing .vex-overlay {
  animation: vex-fadeout 0.5s;
  -webkit-animation: vex-fadeout 0.5s;
  -moz-animation: vex-fadeout 0.5s;
  -ms-animation: vex-fadeout 0.5s;
  -o-animation: vex-fadeout 0.5s;
  -webkit-backface-visibility: hidden; }

.vex-content {
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  background: #fff; }

.vex.vex-closing .vex-content {
  animation: vex-fadeout 0.5s;
  -webkit-animation: vex-fadeout 0.5s;
  -moz-animation: vex-fadeout 0.5s;
  -ms-animation: vex-fadeout 0.5s;
  -o-animation: vex-fadeout 0.5s;
  -webkit-backface-visibility: hidden; }

.vex-close:before {
  font-family: Arial, sans-serif;
  content: "\00D7"; }

.vex-dialog-form {
  margin: 0; }

.vex-dialog-button {
  text-rendering: optimizeLegibility;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.vex-loading-spinner {
  animation: vex-rotation 0.7s linear infinite;
  -webkit-animation: vex-rotation 0.7s linear infinite;
  -moz-animation: vex-rotation 0.7s linear infinite;
  -ms-animation: vex-rotation 0.7s linear infinite;
  -o-animation: vex-rotation 0.7s linear infinite;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: #fff; }

body.vex-open {
  overflow: hidden; }

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px); } }

@keyframes vex-pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent; }
  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
  100% {
    box-shadow: inset 0 0 0 300px transparent; } }

.vex.vex-theme-os {
  padding-top: 160px;
  padding-bottom: 160px; }

.vex.vex-theme-os.vex-closing .vex-content {
  animation: vex-flyout 0.5s;
  -webkit-animation: vex-flyout 0.5s;
  -moz-animation: vex-flyout 0.5s;
  -ms-animation: vex-flyout 0.5s;
  -o-animation: vex-flyout 0.5s;
  -webkit-backface-visibility: hidden; }

.vex.vex-theme-os .vex-content {
  animation: vex-flyin 0.5s;
  -webkit-animation: vex-flyin 0.5s;
  -moz-animation: vex-flyin 0.5s;
  -ms-animation: vex-flyin 0.5s;
  -o-animation: vex-flyin 0.5s;
  -webkit-backface-visibility: hidden; }

.vex.vex-theme-os .vex-content {
  border-radius: 5px;
  box-shadow: inset 0 1px #a6a6a6, 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-family: "Helvetica Neue", sans-serif;
  border-top: 20px solid #bbb;
  background: #f0f0f0;
  color: #444;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 450px;
  font-size: 1.1em;
  line-height: 1.5em; }

.vex.vex-theme-os .vex-content h1, .vex.vex-theme-os .vex-content h2, .vex.vex-theme-os .vex-content h3, .vex.vex-theme-os .vex-content h4, .vex.vex-theme-os .vex-content h5, .vex.vex-theme-os .vex-content h6, .vex.vex-theme-os .vex-content p, .vex.vex-theme-os .vex-content ul, .vex.vex-theme-os .vex-content li {
  color: inherit; }

.vex.vex-theme-os .vex-close {
  border-radius: 0 5px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }

.vex.vex-theme-os .vex-close:before {
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbb;
  background: transparent; }

.vex.vex-theme-os .vex-close:hover:before, .vex.vex-theme-os .vex-close:active:before {
  color: #777;
  background: #e0e0e0; }

.vex.vex-theme-os .vex-dialog-form .vex-dialog-message {
  margin-bottom: .5em; }

.vex.vex-theme-os .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em; }

.vex.vex-theme-os .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="week"] {
  border-radius: 3px;
  background: #fff;
  width: 100%;
  padding: .25em .67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 .25em; }

.vex.vex-theme-os .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-os .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  box-shadow: inset 0 0 0 1px #3288e6;
  outline: none; }

.vex.vex-theme-os .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1; }

.vex.vex-theme-os .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both; }

.vex.vex-theme-os .vex-dialog-button {
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 .5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .8em;
  line-height: 1em;
  padding: .75em 2em; }

.vex.vex-theme-os .vex-dialog-button.vex-last {
  margin-left: 0; }

.vex.vex-theme-os .vex-dialog-button:focus {
  animation: vex-pulse 1.1s infinite;
  -webkit-animation: vex-pulse 1.1s infinite;
  -moz-animation: vex-pulse 1.1s infinite;
  -ms-animation: vex-pulse 1.1s infinite;
  -o-animation: vex-pulse 1.1s infinite;
  -webkit-backface-visibility: hidden;
  outline: none; }

@media (max-width: 568px) {
  .vex.vex-theme-os .vex-dialog-button:focus {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    -webkit-backface-visibility: hidden; } }

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary {
  background: #3288e6;
  color: #fff; }

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-secondary {
  background: #e0e0e0;
  color: #777; }

.vex-loading-spinner.vex-theme-os {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0.5em rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  border: 1.2em solid #bbb;
  border-top-color: #f0f0f0;
  border-bottom-color: #f0f0f0; }

@keyframes vex-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@keyframes vex-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px); } }

@keyframes vex-pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent; }
  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25); }
  100% {
    box-shadow: inset 0 0 0 300px transparent; } }

.vex.vex-theme-default {
  padding-top: 160px;
  padding-bottom: 160px; }

.vex.vex-theme-default.vex-closing .vex-content {
  animation: vex-flyout 0.5s;
  -webkit-animation: vex-flyout 0.5s;
  -moz-animation: vex-flyout 0.5s;
  -ms-animation: vex-flyout 0.5s;
  -o-animation: vex-flyout 0.5s;
  -webkit-backface-visibility: hidden; }

.vex.vex-theme-default .vex-content {
  animation: vex-flyin 0.5s;
  -webkit-animation: vex-flyin 0.5s;
  -moz-animation: vex-flyin 0.5s;
  -ms-animation: vex-flyin 0.5s;
  -o-animation: vex-flyin 0.5s;
  -webkit-backface-visibility: hidden; }

.vex.vex-theme-default .vex-content {
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
  background: #f0f0f0;
  color: #444;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  font-size: 1.1em;
  line-height: 1.5em; }

.vex.vex-theme-default .vex-content h1, .vex.vex-theme-default .vex-content h2, .vex.vex-theme-default .vex-content h3, .vex.vex-theme-default .vex-content h4, .vex.vex-theme-default .vex-content h5, .vex.vex-theme-default .vex-content h6, .vex.vex-theme-default .vex-content p, .vex.vex-theme-default .vex-content ul, .vex.vex-theme-default .vex-content li {
  color: inherit; }

.vex.vex-theme-default .vex-close {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }

.vex.vex-theme-default .vex-close:before {
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbb;
  background: transparent; }

.vex.vex-theme-default .vex-close:hover:before, .vex.vex-theme-default .vex-close:active:before {
  color: #777;
  background: #e0e0e0; }

.vex.vex-theme-default .vex-dialog-form .vex-dialog-message {
  margin-bottom: .5em; }

.vex.vex-theme-default .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em; }

.vex.vex-theme-default .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="week"] {
  border-radius: 3px;
  background: #fff;
  width: 100%;
  padding: .25em .67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 .25em; }

.vex.vex-theme-default .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none; }

.vex.vex-theme-default .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1; }

.vex.vex-theme-default .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both; }

.vex.vex-theme-default .vex-dialog-button {
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 .5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .8em;
  line-height: 1em;
  padding: .75em 2em; }

.vex.vex-theme-default .vex-dialog-button.vex-last {
  margin-left: 0; }

.vex.vex-theme-default .vex-dialog-button:focus {
  animation: vex-pulse 1.1s infinite;
  -webkit-animation: vex-pulse 1.1s infinite;
  -moz-animation: vex-pulse 1.1s infinite;
  -ms-animation: vex-pulse 1.1s infinite;
  -o-animation: vex-pulse 1.1s infinite;
  -webkit-backface-visibility: hidden;
  outline: none; }

@media (max-width: 568px) {
  .vex.vex-theme-default .vex-dialog-button:focus {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    -webkit-backface-visibility: hidden; } }

.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary {
  background: #3288e6;
  color: #fff; }

.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-secondary {
  background: #e0e0e0;
  color: #777; }

.vex-loading-spinner.vex-theme-default {
  box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  background: #f0f0f0;
  border: .2em solid transparent;
  border-top-color: #bbb;
  top: -1.1em;
  bottom: auto; }

.fl-scrolls {
  overflow: auto;
  position: fixed; }

.fl-scrolls div {
  overflow: hidden;
  pointer-events: none; }

.fl-scrolls div:before {
  content: "\A0"; }

.fl-scrolls, .fl-scrolls div {
  font-size: 1px;
  line-height: 0;
  margin: 0;
  padding: 0; }

.fl-scrolls-hidden div:before {
  content: "\A0\A0"; }

.fl-scrolls-viewport {
  position: relative; }

.fl-scrolls-body {
  overflow: auto; }

.fl-scrolls-viewport .fl-scrolls {
  position: absolute; }

.fl-scrolls-hoverable .fl-scrolls {
  opacity: 0;
  transition: opacity .5s .3s; }

.fl-scrolls-hoverable:hover .fl-scrolls {
  opacity: 1; }

.fl-scrolls:not([data-orientation]), .fl-scrolls[data-orientation=horizontal] {
  bottom: 0;
  min-height: 17px; }

.fl-scrolls:not([data-orientation]) div, .fl-scrolls[data-orientation=horizontal] div {
  height: 1px; }

.fl-scrolls-hidden.fl-scrolls:not([data-orientation]), .fl-scrolls-hidden.fl-scrolls[data-orientation=horizontal] {
  bottom: 9999px; }

.fl-scrolls-viewport .fl-scrolls:not([data-orientation]), .fl-scrolls-viewport .fl-scrolls[data-orientation=horizontal] {
  left: 0; }

.fl-scrolls[data-orientation=vertical] {
  right: 0;
  min-width: 17px; }

.fl-scrolls[data-orientation=vertical] div {
  width: 1px; }

.fl-scrolls-hidden.fl-scrolls[data-orientation=vertical] {
  right: 9999px; }

.fl-scrolls-viewport .fl-scrolls[data-orientation=vertical] {
  top: 0; }

/*# sourceMappingURL=style.css.map */
