// Main container: initialize the flex, direction is row
.table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: nowrap;         -webkit-flex-wrap: nowrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

// Text based cells: grow, truncate and show ellipsis when there is not enough space
.text {
  flex-grow: 1;            -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

// Fix the minimum width of the leaf level cells
.text {
  width: 180px;
}

.num {
  width: 80px;
}

/*
 * General good-look styles, not mandatory.
 */
body {
  font-size: 20px;
}

.table-row {
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
}

.table-row-without-border {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: nowrap;         -webkit-flex-wrap: nowrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-collapse: collapse;
}

.table-row.header {
  background-color: $color-secondary;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.container-fluid {
  margin-top: 10px;
}