.context_table_style{
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: nowrap;         -webkit-flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  table-layout: auto;
}

.addrule-table{ 
  display: inline-block;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}

// Main container: initialize the flex, direction is row
.table-row{
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: nowrap;         -webkit-flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
}


tbody{
  display: inline-block;
}

// Text based cells: grow, truncate and show ellipsis when there is not enough space
.text {
  flex-grow: 1;            -webkit-flex-grow: 1;
  white-space: wrap;
  text-overflow: ellipsis;
}

.text{
  width: 180px;
}

.edit-rule-field {
  flex-grow: 1;            -webkit-flex-grow: 1;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 100px;
}


select.text{
  width:100%;
}

.text_error {
  flex-grow: 1;            -webkit-flex-grow: 1;
  white-space: wrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 180px;
  background: #fef65b;
}

.text_uca {
  flex-grow: 1;            -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 180px;
}

td.number-contexttale {
  max-width: 80px !important;
}

// Fix the minimum width of the leaf level cells
td{
  width:180px;
}

th{
  width:180px;
}

/*
 * General good-look styles, not mandatory.
 */
body {
  font-size: 20px;
}

.table-row-without-border {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: nowrap;         -webkit-flex-wrap: nowrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-collapse: collapse;
}

.table-row.header {
  background-color: $color-secondary;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.table-row.header-blue {
  background-color: #2c3e50;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  border-radius: 10px;
  width: 100%;
}

.container-fluid {
  margin-top: 10px;
}
