.modal-window {
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
 
#modal-mask {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.modal-close{
    display:block;
    text-align:right;
}

.modal-margin{
    margin: 15px;
    padding: 15px;
    width:250px;
    height:250px;
    border: 2px solid;
    border-radius: 10px;
}

.modal-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.modal-content {

}