.option_text{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.option_text:not(:checked):hover{
	overflow: visible;
	white-space: normal;
	font-weight:  bold;
	background-color: #ADD8E6;
}

.option_text:checked{
	border-bottom: dashed 1px black;
	overflow: visible;
	white-space: normal;
	font-weight:  bold;
	background: linear-gradient(#ADD8E6, #ADD8E6);
	background-color: #ADD8E6 !important;
	color: black;
    	-webkit-text-fill-color: black;
}

.select_from_form_rule{
	width: 100%;
	height: 100%;
	overflow: auto;
	max-height: 150px;
}
