.responsive_textarea{
	background: white;
	border: 0;
	min-width: 80%;
	width: 80%;
	font-size: 1rem;
	color: black;
	resize: none;
	overflow: hidden;
	padding: 0;
	vertical-align: top;
	font-family: helvetica;
	&_active{
		width: 80%;
		vertical-align: top;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		resize: none;
		overflow: hidden;
		font-size: 1rem;
		padding: 0;
		font-family: helvetica;
	}
}

label{
	font-weight: bold;
	vertical-align: top;
}

.select_from_form_ssc{
	width: 68%;
	overflow: auto;
	max-height: 75px;
}

.hidden{
	visibility: hidden;
}